body {
  margin: 0;
  font-family: Arial, sans-serif;
  color: #333;
}

header {
  background-color: #00BFFF;
  padding: 20px 0;
  color: white;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-content .blog-name {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}

.buttons a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  margin-right: 20px;
}

.header-content .buttons a:hover {
  color: #555555;
}

.header-line {
  border-top: 2px solid red;
  width: 100%;
}

.content {
  display: flex;
  gap: 70px;
  padding: 20px 100px;
}

.column {
  flex: 1;
  max-width: 250px;
  margin-bottom: 20px;
}

.header-lightblue {
  font-size: 24px;
  color: #72cfee;
  margin-bottom: 10px;
}

.header-darkblue {
  font-size: 24px;
  color: #2c677b;
  margin-bottom: 10px;
  white-space: nowrap;
}

.description {
  font-size: 14px;
  color: #555;
  margin: 0 0;
}

code {
  display: block;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  padding: 5px 0;
}

.header-lightgreen {
  font-size: 24px;
  color: #69cf4a;
  margin-bottom: 10px;
  white-space: nowrap;
}

.header-darkgreen {
  font-size: 24px;
  color: #649a1a;
  margin-bottom: 10px;
  white-space: nowrap;
}
